
@import "../variables/color";

.clickable{
  &:active{
    opacity: 0.8;
  }
}

// 背景颜色

$colors: $info $primary $success $warning $danger;
$colorNames: 'info' 'primary' 'success' 'warning' 'danger';

.bg{
  @each $name in $colorNames {
    $i: index($colorNames, $name);
    $color: nth($colors, $i);
    &-#{$name} {
      background-color: $color;
    }
  }
}
