
// 字体大小
$font-extra-small: 12px !default;
$font-small: 13px !default;
$font-base: 14px !default;
$font-medium: 18px !default;
$font-large: 20px !default;
$font-extra-large: 24px !default;

// 边距大小
$spacing-extra-small: 4px !default;
$spacing-small: 8px !default;
$spacing-base: 14px !default;
$spacing-medium: 20px !default;
$spacing-large: 30px !default;
$spacing-extra-large: 50px !default;

// 圆角大小
$radius-small: 2px !default;
$radius-base: 4px !default;
$radius-large: 12px !default;
$radius-circle: 50% !default;

// 阴影
$shadow-small: 0 0 2px 1px rgba(0, 0, 0, 0.05) !default;
$shadow-base: 0 0 4px 1px rgba(0, 0, 0, 0.05) !default;
$shadow-large: 0 0 6px 1px rgba(0, 0, 0, 0.1) !default;
