
// 字体大小
$font-extra-small: 24rpx !default;
$font-small: 28rpx !default;
$font-base: 32rpx !default;
$font-medium: 36rpx !default;
$font-large: 40rpx !default;
$font-extra-large: 44rpx !default;

// 边距大小
$spacing-extra-small: 8rpx !default;
$spacing-small: 16rpx !default;
$spacing-base: 28rpx !default;
$spacing-medium: 40rpx !default;
$spacing-large: 60rpx !default;
$spacing-extra-large: 100rpx !default;

// 圆角大小
$radius-small: 4rpx !default;
$radius-base: 8rpx !default;
$radius-large: 24rpx !default;
$radius-circle: 50% !default;

// 阴影
$shadow-small: 0 0 4rpx 2rpx rgba(0, 0, 0, 0.05) !default;
$shadow-base: 0 0 6rpx 2rpx rgba(0, 0, 0, 0.05) !default;
$shadow-large: 0 0 12rpx 2rpx rgba(0, 0, 0, 0.1) !default;
