body {

  .bg-f {
    background: #fff;
  }

  .bg-fa{
    background: #FAFAFA;
  }

  .color-f {
    color: #fff
  }

  // label
  .insert-label{
    position: relative;
    &:before{
      font-family: iconfont;
      content: '\e628';
      font-size: inherit;
      position: absolute;
      left: -1em;
      top: 50%;
      transform: translate3d(0,-50%,0);
    }
  }
  .insert-label-2{
    position: relative;
    left: -0.3em;
    &:before{
      font-family: iconfont;
      content: '\e628';
      font-size: inherit;
    }
  }

  @import "text";
  @import "flex";
  @import "box";
}
@import "./common";
