@import "../variables";


.t-left {
  text-align: left}

.t-center {
  text-align: center}

.t-right {
  text-align: right}

.t-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap}

// 两行隐藏
.t-ellipsis-line2 {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2}

// 删除线
.t-line-through {
  text-decoration: line-through}

.line-h1_5 {
  line-height: 1.5em}

.line-h2{
  line-height: 2}

.line-h3{
  line-height: 3}

.bold {
  font-weight: bold}



/**
 * 字体大小 - 引用element字体规范
 * 参考 https://element.eleme.cn/#/zh-CN/component/typography
 */

.f{
  &-extra-small{
    font-size: $fontExtraSmall;
  }
  &-small{
    font-size: $fontSmall;
  }
  &-base{
    font-size: $fontBase;
  }
  &-medium{
    font-size: $fontMedium;
  }
  &-large{
    font-size: $fontLarge;
  }
  &-extra-large{
    font-size: $fontExtraLarge;
  }
}

/**
 * 字体颜色 - 引用element颜色规范
 * 参考 https://element.eleme.cn/#/zh-CN/component/color
 */
$info: #838A9D;
.color{
  &-danger{
    color: #F56C6C;
  }
  &-success{
    color: #52C41A;
  }
  &-warning{
    color: #F5A623
  }
}
