
// 颜色
$primary: #409EFF !default;
$success: #67C23A !default;
$danger: #F56C6C !default;
$warning: #E6A23C !default;
$info: #909399 !default;

// 字体大小
$fontExtraSmall: 12px !default;
$fontSmall: 13px !default;
$fontBase: 14px !default;
$fontMedium: 18px !default;
$fontLarge: 20px !default;
$fontExtraLarge: 24px !default;
