
@import "./color";

// 字体大小
$fontExtraSmall: 12px !default;
$fontSmall: 13px !default;
$fontBase: 14px !default;
$fontMedium: 18px !default;
$fontLarge: 20px !default;
$fontExtraLarge: 24px !default;
