
// 边距大小
$extraSmall: 8rpx !default;
$small: 16rpx !default;
$base: 28rpx !default;
$medium: 40rpx !default;
$large: 60rpx !default;
$extraLarge: 100rpx !default;

// 圆角大小
$radius: 10rpx !default;
$extraRadius: 32rpx !default;

// 阴影
$shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05) !default;
$extraShadow: 0 0 6px 1px rgba(0, 0, 0, 0.1) !default;

// 颜色
$colorPrimary: #409EFF !default;
$colorSuccess: #67C23A !default;
$colorDanger: #F56C6C !default;
$colorWarning: #E6A23C !default;
$colorInfo: #909399 !default;

// 字体大小
$fontExtraSmall: 24rpx !default;
$fontSmall: 28rpx !default;
$fontBase: 32rpx !default;
$fontMedium: 36rpx !default;
$fontLarge: 40rpx !default;
$fontExtraLarge: 44rpx !default;
